#<li class="nav-item">
 # <a class="nav-link email-link" path="<%= email_path(email) %>"><%= email.object %></a>
#</li>

<div class="row" id="email-cell-<%= email.id%>">
					<%= link_to email.object, email_path(email), :method => "GET", data: { remote: true} %>
			</div>
