  
<li><%= task.title %> , to read: <%= task.deadline.strftime('%D') %>          <%= link_to task_path(task), :method => "delete", data: { confirm: 'Are you sure?', remote: true } do %>
    <span><i class="fas fa-trash"></i></span>
  <% end %></li> 